# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for pubarchiver
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/pubarchiver
# =============================================================================

beautifulsoup4   >= 4.9.3
bun              >= 0.0.8
commonpy         >= 1.3.9
crossrefapi      >= 1.5.0
dateparser       >= 1.0.0
humanize         >= 3.9.0
lxml             >= 4.6.2
Pillow           >= 5.2.0
plac             >= 1.3.3
pypubsub         >= 4.0.3
python-dateutil  >= 2.8.1
recordclass      >= 0.11.1
requests         >= 2.21.0
setuptools       >= 57.0.0
sidetrack        >= 2.0.0
urllib3          >= 1.26.5
xmltodict        >= 0.12.0
