colorful>=0.5.1
dateparser>=0.7.0
humanize>=0.5.1
lxml>=4.2.5
Pillow>=5.2.0
plac>=1.0.0
pypubsub>=4.0.0
recordclass>=0.11.1
requests>=2.21.0
setuptools>=40.0.0
urllib3>=1.24.1
xmltodict>=0.12.0
wxPython>=4.0.3
